.body {
    padding:20px; /* adjusted pading size */
    text-align: justify;
    font-family: "Century Gothic", Verdana, sans-serif;
    font-size:13px;
    color: #666666;
    background-color:#25323A;
    width: 1200px; /* added in body width */
    margin:auto; /* Added in to automatically adjust margins based on the 
                    resoultion the site is veiwed on */
    }
